*{
    margin: 0;
    padding: 0;
}
.NavBar{
    min-height: 7vh;
    width: 100%;
    background-color: beige;
    background-size: cover;
    position: relative;
}

.nav{
    display: flex;
    padding: 5vh;
    justify-content: center;
    align-items: center;
}

.NavBar button{
    height: 5vh;
    width: 15vh;
    background-color: black;
    -webkit-text-fill-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    outline: none;
}

.NavBar button:hover {
    height: 5vh;
    width: 15vh;
    background-color: gray;
    -webkit-text-fill-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    outline: none;
}

.ListPanel{
    background-color: aqua;
    width: 25vh;
    height: 93vh;
    position: relative;
}

.ListPanel button{
    height: 5vh;
    width: 25vh;
    background-color: black;
    -webkit-text-fill-color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    outline: none;
}

.MainPanel{
    background-color: blueviolet;
    height: 93vh;
    width: 50vh;
    position: relative;
}

.DailyPanel{
    background-color: brown;
    height: 93vh;
    width: 35vh;
    position: relative;
}